.grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 0.5px solid rgba(0, 0, 0, 0.87);
}

.grid .row {
  display: flex;
}

.grid .cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 0.5px solid rgba(0, 0, 0, 0.87);
}
